body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f0ff; /* hellblauer Hintergrund */
  color: #003366; /* dunkles Blau für Text */
}

header {
  background-color: #004c99; /* kräftiges Blau */
  color: white;
  padding: 1em;
  text-align: center;
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

form {
  background-color: white;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 76, 153, 0.2); /* bläulicher Schatten */
  border-left: 5px solid #0073e6;
}

form input,
form select,
form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #99ccff;
  border-radius: 4px;
}

form button {
  background-color: #0073e6;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #005bb5;
}

#map {
  width: 90%;
  height: 400px;
  margin: 20px auto;
  border: 2px solid #0073e6;
}
